var{
    font-weight: 800;
    color: red;
}
.modal {
    border: none !important;
    border-radius: 10px;
    /* box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25); */
    padding: 5.6rem;
    max-width: 400px;
}
.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(2px);
}
.tooltip {
    border: none !important;
    border: 1px solid blue;
    background-color: #ccc;
    border-radius: 3px;
    padding: 1rem;
    max-width: 200px;
}
.tooltip::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
}

button{
    cursor: pointer;
}
